# 1. Machine Learning Gladiator

## Our Task
We should take out-of-the-box models and apply them to different datasets. With this approach we attach different goals:
- Learn how to build up intuition for model-to-problem fit -> Learn by action.
- Learn how to Build prototypes of models quickly.
- Learn the workflow of model building (Importing data, cleaning data, splitting data, split it into train/test or cross-validation sets, pre-processing, transformations, feature engineering).

We should practice regression, classification and clustering algorithms.

I will use Python 3 and sklearn (plus numpy and pandas) to build up different machine learning models. I will introduce the intention of the out-of-the-box models
briefly.

## Classification

Classification is beside regression one of the most popluar supervised learning tasks. Supervised learning refers to the problem of learning from labeled data (e.g. photos who are labeled with the person who is in the photo). In the following we will analyse the [adult data set](http://archive.ics.uci.edu/ml/datasets/Adult) and build models with different machine learning algorithms which can predict if an adult incomes is more or less equal 50,000$.

First, lets import some libaries we need.

In [35]:
import pandas as pd
import numpy as np
import sklearn as sk

Let us import and look at the data.

In [36]:
data_raw = pd.read_csv('data/adult.data.txt')
data_raw.head()

,age,work-class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Let us explore the data set.

In [37]:
print(data_raw.describe())

                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

Well, the guy who is working 99 hours is probably Elon... ;)